Source/SampleWcf.TestClient/Service References/SampleWcfCall/Call1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/samplewcf/Call.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleWcf.Web" />
  <xs:element name="Track">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SampleWcf.Web" minOccurs="0" name="files" nillable="true" type="q1:ArrayOfFileDescriptor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>