Source/SampleWcf.TestClient/Service References/SampleWcfCall/Call2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleWcf.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleWcf.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/samplewcf/Call.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFileDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDescriptor" type="tns:FileDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDescriptor" nillable="true" type="tns:ArrayOfFileDescriptor" />
  <xs:complexType name="FileDescriptor">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDescriptor" nillable="true" type="tns:FileDescriptor" />
</xs:schema>